html, body {
    margin: 0;
    height: 100%;
}

h1{
  text-dark;
  text-align:center;
  padding:0.1em;
  margin:0px;
}

h2{
  color:white;
  text-align:center;
  padding:0.5em;
  padding-top: 0px;
  margin:0px;
}

h3{
  margin:0px;
}

.linkImg{
  width:2em;
  height: 2em;
}

.btn-lg{
  display:block;
  margin:auto;
  width:250px;
}

.btn-link{
  display:block;
  width:99%;
  text-align:left
}

.list-group{
  padding:0.5em;
}

#rangerDangerEx{
  overflow-y:scroll;
  max-width:1139px;
  height:300px;
  margin-left:0px;
  margin-top:10px;
  margin-bottom:10px;
}

@media {
  .jumbotron {
    padding: 1em;
  }
}

.col-8{
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}